# https://github.com/koalaman/shellcheck/wiki/Ignore

disable=SC2178 
# "variable was used as ... but is now ..."
# When using namerefs, this will occur all the time. The same name is used in
# different functions to reference different data types.

disable=SC1091
# "not following ..."
# Unable to follow `source` statements, since it can't evaluate the PROGDIR,
# and thus LIBDIR. May need another way of pulling everything together.
